.item {
  margin: 1rem 0;
}

.conteiner{
  display: flex;
}

.image {
  flex: 3;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.image img{
  max-height: 200px;
  width: 100%;
  height: 100%;
  display:block;
}

.description{
  flex: 4;
}

.buttons{
  flex: 2;
}

.description h3{
  font-family: 'Open Sans';
  text-align: center;
  font-size: 2rem;
  padding-top: 1.5rem;
}

.description ul{
  text-align: center;
  padding-left: 0;
}

.description li{
  font-family: 'Open Sans';
  text-align: center;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display:inline;
}

.buttons ul{
  display: grid;
  align-items: center;
  height: 100%;
  padding-left: 0;
}

.buttons li{
  list-style: none;
}

.actions button {
  width: 90%;
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}
